<div class="container">
    
    <div class="text">
        <h2 class="anDef">
            <span class="letters letters-1">Experience.</span>
            <span class="letters letters-2">Quality.</span>
            <span class="letters letters-3">Confidence.</span>
            <span class="letters letters-4">Durability.</span>
        </h2>
        <p>Vivamus rhoncus urna eget elit iaculis, a aliquet risus laoreet. <br> Maecenas vehicula laoreet neque. Cras eleifend,  nunc <br> sodales facilisis sagittis, ligula urna consectetur lorem, <br> dignissim maximus leo nulla id nisl.</p>
    </div>
    <div class="car-image">
        <img src="../../../assets/images/m3 2.png" alt="Car image">
    </div>
</div>