<div class="container">
  <footer>
    <div class="logo">
      <h1>Car<span class="store"> Store</span></h1>
      <div class="icons">
        <i class="icon1 fa-brands fa-facebook"></i>
        <i class="icon2 fa-brands fa-youtube"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
    </div>
    <div class="content">
      <div class="page">
        <h3>Page</h3>
        <a href="home">Home</a>
        <a href="cars">Cars</a>
        <a href="about">About us</a>
        <a href="parts">Parts</a>
      </div>
      <div class="legal">
        <h3>Legal</h3>
        <a href="#">Privacy</a>
        <a href="#">Refound Policy</a>
        <a href="#">Cookie Policy</a>
      </div>
      <div class="contacts">
        <h3>Contacts</h3>
        <a href="#">Brazil</a>
        <a href="#">Canada</a>
        <a href="#">Germany</a>
        <a href="#">United States</a>
      </div>
    </div>

    <div class="copyright">
      <p>&#169; Car <span class="store"> Store</span> by alexanderpoliser</p>
    </div>
  </footer>
</div>
