<div class="container">
    <div class="text">
        <h2>One Shop for <span class="all">All</span> <br> Your Car's Needs.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit numquam, <br> itaque quae perspiciatis magni aut aliquam quo eius harum.</p>
        <div class="button">
            <a href="cars" mat-raised-button color="primary">Discover now</a>
        </div>
    </div>
    <div class="car-image">
        <img src="../../../assets/images/911.png" alt="Car image">
    </div>
</div>
