.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;

    .text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        .button {
            display: flex;
            justify-content: center;

            a {
                text-decoration: none;
            }
        }
    }

    .text .all {
        color: #C62828;
    }

    .car-image {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            display: flex;
            align-items: center;
            max-width: 700px;
            margin: auto;
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
}

@media (max-width: 600px) {
    .container {
      display: flex;
      flex-direction: column;
  
      .car-image {
          margin: 25px 0 0 0;
      
          img {
            max-width: 350px;
            width: 100%;
            height: auto;
          }
        }
    }
  }