@use '@angular/material' as mat;

@include mat.core();

$car-store-primary: mat.define-palette(mat.$red-palette, 800);

$car-store-secondary: mat.define-palette(mat.$grey-palette, 500);

$car-store-accent: mat.define-palette(mat.$grey-palette, 300);

$car-store-warn: mat.define-palette(mat.$red-palette);

$car-store-theme: mat.define-light-theme((
  color: (
    primary: $car-store-primary,
    accent: $car-store-accent,
    warn: $car-store-warn,
    secondary: $car-store-secondary, 
  )
));

@include mat.all-component-themes($car-store-theme);

/* You can add global styles to this file, and also import other style files */

:root { 
  width: 100%;
  height: 100%;

  /* Colors */
  --primary-color: #C62828;

 }
body { margin: 0; font-family: 'Poppins', sans-serif; }

